<ul>
  <li>
    <a href="#">
      <i class="fa fa-bell"></i>
      <span class="badge badge-success pull-right">3</span>
    </a>
  </li>
  <li>
    <p>{{s.firstName}}</p>
  </li>
  <li>
    <button {{action "logoutAction"}}>
      {{t "setting.button.logout"}}
    </button>
  </li>
</ul>