<header>
  <h1>
    <a href="#" title="Kuberc">Kuberc</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a href="#" title="">
          <i class="fa fa-bell"></i>
          <span class="badge badge-success pull-right">3</span>
        </a>
      </li>
      <li>
        <p>{{sess.sessionUser.content.firstName}}</p>
      </li>
    </ul>
  </nav>
</header>