.notifications
  @media (max-width: 400px)
    position: fixed
    bottom: 49px
    left: 0
    right: 0
    z-index: 9999
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1)
  @media (min-width: 401px)
    position: absolute
    bottom: 36px
    left: 0
    z-index: 980
    width: 300px
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1)

.notification
  width: 100%
  min-height: 40px
  max-height: 253px
  margin: 0 0 15px 0
  color: rgba(255, 255, 255, 0.9)
  background: $blue
  position: relative
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px
  transform: translateZ(0)

  &:before
    +position(a, 0, 0)
    +box(48, 100%)
    background: rgba(0, 0, 0, 0.1)
    content: ''

  @media (max-width: 400px)
    margin-bottom: 1px

  // notification message body
  .message
    display: block
    padding: 10px 35px 10px 60px
    max-height: 253px
    overflow: auto
    +fsize(1.4)
    line-height: 1.6em
    -webkit-overflow-scrolling: touch

  // close button position
  .close
    +position(a, 0, 0, r)
    +box(34, 100%)
    border-left: 1px solid rgba(0, 0, 0, 0.08)
    color: rgba(255, 255, 255, 0.6)

    &:hover
      color: #fff

  .notification-info-icon
    +position(a, 30%, 15)

  // Individual Notifications
  // --------------------------------------------------
  &.green
    background: $green

    &.passive
      animation: fade-out 1s linear
      animation-delay: 3s
      animation-iteration-count: 1
      animation-fill-mode: forwards

      &:hover
        animation: fade-in-snap 0.2s linear

  &.red
    background: $red

  &.yellow
    background: yellow
