// Liquid Fire addon
.liquid-container, .liquid-child
  +box(100%, 100%)

// Animation
.fade-in
  animation: fade-in 0.2s
  animation-fill-mode: forwards

.fade-in-scale
  animation: fade-in-scale 0.2s
  animation-fill-mode: forwards

.fade-out
  animation: fade-out 0.5s
  animation-fill-mode: forwards

// Sections
.main-container-s
  +margins(0)
  +paddings(0, 15)
