<section class="js-notification">
  <div class='notification-info-icon'>
    {{!ion-icon "alert-circled"}}
  </div>
  <span class="notification-message">
    {{{message.message}}}
  </span>
  {{!-- <button class="close" {{action "closeNotification"}}><span class="hidden">Close</span></button> --}}
  <button class="close" {{action "closeNotification"}}>{{!ion-icon "close-round"}}</button>
</section>
